.productTitleDiv {
  text-align: center;
  background-image: url("../../images/product_bg_soldier_jungle.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  font-family: Merriweather;
  color: #ffffff;
}

.productTitle {
  padding-top: 80px;
  font-weight: bold;
  font-size: 64px;
}

.productTitleDescription {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-style: italic;
  font-size: 36px;
}

.productProductDiv {
  text-align: left;
  padding-top: 1px;
  font-family: Merriweather;
  color: #000000;
  font-size: 28px;
}

div.noPaddingMargin {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.productPaddingTop {
  padding-top: 20px;
}

div.productGridLines {
  border: 1px solid rgb(0, 0, 0);
}

.picDim {
  width: 287px;
  height: 200px;
}

div.row {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

div.col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}