.TitleDiv {
  text-align: center;
  background-image: url("../../images/home_bg_gray_climate.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  color: #ffffff;
  font-family: Merriweather;
}

.Title {
  padding-top: 80px;
  font-weight: bold;
  font-size: 64px;
}

.TitleDescription {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  font-style: italic;
  font-size: 36px;
}

.ScenarioDiv {
  text-align: center;
  background-image: url("../../images/home_bg_gray.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 1px;
  color: #ffffff;
  font-family: Merriweather;
}

.ScenarioTitle {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.ScenarioDescription {
  padding-top: 20px;
  font-size: 36px;
}

.ScenarioPadding {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
}

div.noPaddingMargin {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.picPadding {
  padding-bottom: 150px;
}

.picDim {
  width: 300px;
  height: 200px;
}